[Unit]
Description=uWSGI instance to serve myproject
After=network.target

[Service]
User=sa
Group=www-data
WorkingDirectory=/home/sa/code/flask_api

Environment="PATH=/home/sa/code/flask_api/venv/bin"

ExecStart=/home/sa/code/flask_api/venv/bin/uwsgi --ini flask_api.ini

[Install]
WantedBy=multi-user.target
